// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #666;
$brand-success: #f55154;

@font-face {
    font-family: 'Brandon-Text-W01';
    src: url('../fonts/Brandon-Text-W01-Black.woff2') format('woff2'),
         url('../fonts/Brandon-Text-W01-Black.woff')  format('woff'),
         url('../fonts/Brandon-Text-W01-Black.ttf')   format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Text-W01';
    src: url('../fonts/Brandon-Text-W01-Bold.woff2') format('woff2'),
         url('../fonts/Brandon-Text-W01-Bold.woff') format('woff'),
         url('../fonts/Brandon-Text-W01-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Text-W01';
    src: url('../fonts/Brandon-Text-W01-Bold-Italic.woff2') format('woff2'),
         url('../fonts/Brandon-Text-W01-Bold-Italic.woff') format('woff'),
         url('../fonts/Brandon-Text-W01-Bold-Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon-Text-W01';
    src: url('../fonts/Brandon-Text-W01-Medium.woff2') format('woff2'),
         url('../fonts/Brandon-Text-W01-Medium.woff') format('woff'),
         url('../fonts/Brandon-Text-W01-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Text-W01';
    src: url('../fonts/Brandon-Text-W01-Medium-Italic.woff2') format('woff2'),
         url('../fonts/Brandon-Text-W01-Medium-Italic.woff') format('woff'),
         url('../fonts/Brandon-Text-W01-Medium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon-Text-W01';
    src: url('../fonts/Brandon-Text-W01-Regular.woff2') format('woff2'),
         url('../fonts/Brandon-Text-W01-Regular.woff') format('woff'),
         url('../fonts/Brandon-Text-W01-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon-Text-W01';
    src: url('../fonts/Brandon-Text-W01-Regular-It.woff2') format('woff2'),
         url('../fonts/Brandon-Text-W01-Regular-It.woff') format('woff'),
         url('../fonts/Brandon-Text-W01-Regular-It.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Bulter';
    src: url('../fonts/butler_bold-webfont.woff2') format('woff2'),
         url('../fonts/butler_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

$grid-gutter-width: 0px;

$sidebar-nav-width: 290px;
$blackbar-top-height: 52px;

$brand-grey: #a7a7a7;
$brand-darkgrey: #161113;
$brand-page-bg-grey: rgb(240,240,240);
$footer-bg: $brand-darkgrey;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Brandon-Text-W01", Helvetica, Arial, sans-serif;
$font-family-serif: 'Bulter', Georgia, Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 14px;
$font-size-large: 20px;
$font-size-small: 10px;

$font-size-h1: 40px; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.8; // 20/14

//** By default, this inherits from the `<body>`.
$headings-font-family: 'Bulter', Georgia, Times, serif;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: inherit;


h1, h2, h3 {
    font-family: 'Bulter', Georgia, Times, serif;
    font-weight: 700;
}

h4, h5, h6 {
    font-family: $font-family-sans-serif;
}