.black-bar-footer {
    
    background-color: $footer-bg;
    
    padding: 17px 40px;
    font-family: $font-family-sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    
    a {
        color: white;
        font-size: 12px;
    }
    
    .nav.footer-nav {
        vertical-align: top;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 10px;
        }
        
        li {
            display: inline-block;
            
            a {
                display: inline-block;
                &:hover {
                    background-color: transparent;
                    font-weight: 900;
                }
            }
            &:after {
                content:"|";
                padding: 0 4px;
                display: inline-block;
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
                
            }
            &:last-child:after {
                display: none;
            }
    
            @media (max-width: $screen-xs-max) {
                &:after {
                    content: "|";
                    padding: 0 4px;
                    display: inline-block;
                }
                &:nth-child(2n):after {
                    display: none;
                }
                &:nth-child(2n+1) {
                    a {
                        padding-left: 0;
                    }
                }
            }
            
        }
    }
    
    .textright {
        ul.social {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
            
            li {
                display: inline-block;
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                    padding-left: 20px;
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
            
        }
    }
    .textleft {
        ul.social {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            margin-bottom: 15px;
            
            li {
                display: inline-block;
                a {
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                    padding-right: 10px;
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
            
        }
    }
}


.copyright {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}