
header {
    &.black-bar {
        background-color: black;
        height: $blackbar-top-height;
        padding: 17px 40px;
        font-family: $font-family-sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.6px;
        word-spacing: 2px;
        
        a {
            color: white;
            font-size: 12px;
        }
    }
}
header.mobile {
    .black-bar {
        background-color: black;
        //height: $blackbar-top-height;
        padding: 6px 20px;
        font-family: $font-family-sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.6px;
        word-spacing: 2px;
        position: relative;
        height: 33px;
        
        a {
            color: white;
            font-size: 12px;
        }
        
        .fb-icon {
            height: 33px;
            width: 33px;
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            svg {
                height: 100% !important;
                width: 100% !important;
            }
            background-color: white;
        }
    }
    .white-bar {
        background-color: white;
        height: 74px;
        padding: 7px 20px;
        font-family: $font-family-sans-serif;
        color: black;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.6px;
        word-spacing: 2px;
        vertical-align: middle;
        a {
            color: white;
            font-size: 12px;
        }
        
        .vert-bar {
            width: 1px;
            background-color: black;
            height: 90%;
            margin: 0px 15px;
            display: inline-block;
            vertical-align: middle;
        }
        
        .brand {
            img {
                width: 100px;
                vertical-align: middle;
                margin-top: 3px;
            }
        }
        
        .tagline {
            width: 100px;
            display: inline-block;
            font-size: 12px;
            line-height: 12px;
            vertical-align: middle;
            margin-left: 20px;
            margin-right: 10px;
        }
        
        .navbar-toggle {
            vertical-align: middle;
            display: inline-block;
            float: none;
            padding-right: 0;
            
            .icon-bar {
                background-color: black;
                height: 5px;
                width: 30px;
            }
        }
    }
    
    
}


.navbar  {
    
    @media (min-width: $screen-sm-min) {
        padding-left: 300px;
    }
    @media (min-width: $screen-lg-min) {
       margin-left: 300px;
       
    }
    
}

.navmenu.navmenu-default.offcanvas-sm {
     overflow: hidden;
    width: $sidebar-nav-width;
}

.sidebar-nav {
    
    padding: 54px 44px 80px 48px;
    
    @media (min-width: $screen-sm-min) {
        padding: 54px 44px 80px 48px;
    }
    
    a.brand {
        display: block;
        border-bottom: 1px solid black;
        padding-bottom: 36px;
        
        img {
            padding-left: 8px;
        }
    
    
    }
    
    .navmenu-nav  {
        padding-top: 10px;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    
        @media (min-width: $screen-sm-min) {
            padding-top: 50px;
            padding-bottom: 36px;
        }
        
        
        > li {
            
            font-weight: 700;
            font-size: 15px;
            line-height: 40px;
            text-transform: uppercase;
            
            color: black;
            
            > a {
                padding: 0;
                
            }
            
            
            &:hover,
            &.active {
                > a {
                    background-color: transparent;
                    font-weight: 900;
                    color: black;
                }
            }
        }
        
        &.sidebar-foot {
            padding-top: 10px;
            padding-bottom: 20px;
    
            @media (min-width: $screen-sm-min) {
                padding-top: 30px;
                padding-bottom: 20px;
            }
            
            > li {
                line-height: 30px;
            }
        }
        
        
    }
    
}

//
// Dropdown menus
// --------------------------------------------------

// sub arrow/caret
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: $caret-width-base solid;
    border-right: $caret-width-base solid transparent;
    border-left: $caret-width-base solid transparent;
}

// The dropdown wrapper (div)
.menu-item-has-children {
    position: relative;
    
    > a {
        background-color: transparent;
        &:after {
            content: '+';
            //position: absolute;
           // right: 0;
            font-weight: 800;
            padding-left: 60px;
        }
    }
    
    &:hover {
        
        > a {
            color: black;
            background-color: transparent;
        }
       
        
        > .sub-menu {
            display: block;
        }
        
    }
    
    //a {
    //    &:hover + .sub-menu {
    //        display: block;
    //    }
    //}
    
    .active {
        background-color: transparent;
    }
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
    outline: 0;
}
.navmenu-default .navmenu-nav > .active > a:hover {
    background-color: transparent !important;
}
// The dropdown menu (ul)
.sub-menu {
    position: relative;

    display: none; // none by default, but block on "open" of the menu
    padding: 0px 30px;
    margin: -5px 0 0; // override default ul
    list-style: none;

    background-clip: padding-box;
    border-radius: 0;
    a {
        background-color: transparent !important;
    }
    
    // Dividers (basically an hr) within the dropdown
    .divider {
        @include nav-divider($dropdown-divider-bg);
    }
    
    // Links within the dropdown menu
    > li > a {
        display: block;
        clear: both;
        line-height: $line-height-base;
        white-space: nowrap; // prevent links from randomly breaking onto new lines
        text-transform: uppercase;
        color:  lighten($brand-primary, 20%);
        background-color: transparent;
    }
}

// Hover/Focus state
.sub-menu > li > a {
    &:hover,
    &:focus {
        text-decoration: none;
        color: black;
        background-color: transparent;
      //  background-color: $dropdown-link-hover-bg;
    }
}

// Active state
.sub-menu > .active > a {
    &,
    &:hover,
    &:focus {
        color: $brand-darkgrey;
        text-decoration: none;
        outline: 0;
        background-color: transparent;
       // background-color: $dropdown-link-active-bg;
    }
}

// Disabled state
//
// Gray out text and ensure the hover/focus state remains gray

.sub-menu > .disabled > a {
    &,
    &:hover,
    &:focus {
        color: black;
    }
}

// Nuke hover/focus effects
.sub-menu > .disabled > a {
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none; // Remove CSS gradient
        @include reset-filter();
        cursor: not-allowed;
    }
}

// Open state for the sub
.open {
    // Show the menu
    > .sub-menu {
        display: block;
    }
    
    // Remove the outline when :focus is triggered
    > a {
        outline: 0;
    }
}

// Menu positioning
//
// Add extra class to `.sub-menu` to flip the alignment of the sub
// menu with the parent.
.sub-menu-right {
    left: auto; // Reset the default from `.sub-menu`
    right: 0;
}

// With v3, we enabled auto-flipping if you have a sub within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default sub menu alignment.
//
// This is only for left-aligning a sub menu within a `.navbar-right` or
// `.pull-right` nav component.
.sub-menu-left {
    left: 0;
    right: auto;
}

// sub section headers
.sub-header {
    display: block;
    padding: 3px 20px;
    font-size: $font-size-small;
    line-height: $line-height-base;
}

// Right aligned subs
.pull-right > .sub-menu {
    right: 0;
    left: auto;
}
