body {
    
    @media (min-width: $screen-sm-min) {
        padding-left: $sidebar-nav-width;
    }
    @media (min-width: $screen-lg-min) {
        padding-left: $sidebar-nav-width;
    }
}

.shadow-left {
    -webkit-box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.bg-pink{
    background-color: pink;
}

.bg-blue {
    background-color: blue;
}

.bg-page-grey {
    background-color: $brand-page-bg-grey;
    border-right: 1px solid $brand-grey;
}

.wrap {
    min-height: calc(100vh - 148px);
}

.home {
    
    .background-holder {
        background-color: black;
    }
    
    .up-comming-heading {
        background-color: white;
        position: absolute;
        top: 0px;
        left: 30px;
        padding: 20px;
        z-index: 1000;
        h2  {
            font-family: $font-family-sans-serif;
            font-size: 21px;
            line-height: 20px;
            font-weight: 700;
            margin: 0;
        }
    }
    
    .up-comming-gallery {
        .gallery-slide {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: calc(100vh - 148px);
            position: relative;
            left: 30px;
            
            a {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            
            .title {
                background-color: black;
                padding: 20px 30px;
                bottom: 0;
                position: absolute;
                left: 30px;
                
                h2 {
                    color: white;
                    margin: 0;
                }
                h5 {
                    color: white;
                    margin: 0;
                    font-family: $font-family-sans-serif;
                }
            }
            
        }
    }
    .right-sidebar {
    
        > div {
            margin-bottom: 0px;
        }
    }
    .our-food {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: calc(33vh - 48px);
        position: relative;
    
        a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        
        .title {
            background-color: black;
            padding: 20px 30px;
            bottom: 0;
            position: absolute;
            left: 30px;
        
            h2 {
                color: white;
                margin: 0;
            }
        }
    
    }
    
    .right_gallery {
        
        background-color: black;
        .gallery-slide {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: calc(35vh - 28px);
        }
        
        .title {
            background-color: black;
            padding: 20px 30px;
            bottom: 0;
            position: absolute;
            left: 30px;
    
            h2 {
                color: white;
                margin: 0;
            }
        }
    }
    
    
}

.embed-container {
    height: calc(33vh - 82px);
    background: #000;
    //position: fixed;
    position: relative;
    overflow: hidden;
    
    .video-foreground,
    &.video-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
    
}
main.content {
    
    float: none;
    padding: 65px 95px 80px 80px;
    
    min-height: calc(100vh - 148px);
    
    &.with-under-content {
    
        min-height: 0;// reset
    }
    
    //min-height: calc(100vh - 52px) ; // $blackbar-top-height
    
    overflow-y: auto;
    .page-header {
        &:before {
            border-top: 1px solid $brand-grey;
            content: '';
            width: 125px;
            padding-bottom: 53px;
            display: block;
        }
        h1 {
            margin: 0;
            padding-bottom: 4px;
        }
        h5 {
            font-size: 18px;
            
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            margin: 0;
        }
        margin-top: 0;
    }
    
    
    
}

.under_content {
    background-color: white;
    padding:  0;
    
    h4 {
        font-family: $font-family-sans-serif;
        font-size: 18px;
        line-height: 24px;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    
    
    &.contact-us {
        
        text-transform: uppercase;
        font-size: 16px;
        h4 {
            margin-bottom: 30px;
        }

        .icon-mail,
        .icon-phone {
            line-height: 23px;
            padding-right: 10px;
            display: inline-block;
            vertical-align: text-top;
        }
    
        .contact-address-icon {
            padding-top: 3px;
            display: inline-block;
            vertical-align: middle;
        }
        
    }
    
    
   
    
}



.panel-inverse {
    .panel-heading {
        h4 {
            font-family: $font-family-sans-serif;
            padding: 10px 15px;
            
        }
        background-color: black;
        color: white;
        border-radius: 0;
        position: relative;
        
        .open {
            position: absolute;
            right: 25px;
            top: 14px;
            width: 20px;
            svg {
                width: 20px;
                path {
                    fill: white;
                }
            }
        }
    }
   
    
    border-radius: 0;
    
   .gfield {
       &.half {
           width: 50%;
           display: inline-block;
       }
   }
    
    .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
        width: calc(100%);
    }
    
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    font-size: 1em;
    width: auto;
    margin: 0 16px 0 0;
    background-color: red;
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.evnts-details {
    background-color: black;
    color: #999;
    
    padding: 20px;
    margin-bottom: 40px;
    span {
        font-weight: 700;
        
    }
    
    .top {
        color: white;
        text-transform: uppercase;
        
        .top-left {
            color: white;
        }
        .top-right {
            padding-left: 40px;
            color: white;
        }
    }
    
}

.buy-tickets-box {
    margin-top: 30px;
    display: inline-block;
    background-color: $brand-success;
    padding: 20px 40px;
    color: white;
    
    font-size: 22px;
    vertical-align: bottom;
    
    a {
        color: white;
        .icon-ticket-icon {
            font-size: 24px;
            vertical-align: text-top;
            padding-right: 10px;
            line-height: 31px;
        }
        
    }
}


.right-sidebar {
    
    > div {
        margin-bottom: 5px;
    }
    .top-gallery {
        .gallery-slide {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 600px ;
        }
    }
    
    
    &.contact-us {
        
        padding: 20px;
        vertical-align: top;
        
    
        @media (min-width: $screen-sm-min) {
            padding: 65px  40px;
        }
        @media (min-width: $screen-lg-min) {
            padding: 65px 10%;
        }
        .icon-location {
            font-size: 30px;
            vertical-align: top;
        }
        
        .address-details {
            display: inline-block;
            
        }
        .address-icon {
            display: inline-block;
            width: 40px;
            vertical-align: top;
            padding-right: 10px;
            //margin-top: 10px;
        }
        
        
        #map {
            margin-top: 40px;
            height: 345px;
            //width: 355px;
        }
    
    }
    
    
}

.shop_table  {
    background-color: white;
}

.shadow-table {
    width: 100%;
    
    tr {
        td {
            border-top:  1px solid $brand-grey;
        }
    }
}

.woocommerce a.remove,
.woocommerce a.remove:hover{
    background-color: black;
    color: red !important;
}

.woocommerce a.remove {
    color:white !important;
}

.woocommerce .button.alt,
.woocommerce-page .button.alt.checkout-button,
.woocommerce-page .button.checkout-button {
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    left: auto;
    color: white;
    border: 0;
    border-radius: 0;
    white-space: nowrap;
    display: inline-block;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    
}


.whats-on-section {
    
    .whats-on-filters {
        padding-bottom: 40px;
        
    }
    .event {
        background-color: white;
        padding: 10px 20px;
        
    }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: black;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: $brand-darkgrey;
    color: #fff;
}


.socialicons {
    ul {
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0;
        
        li {
            display: inline-block;
            font-size: 40px;
            
            .icon-facebook_icon {
                color: rgb(50,137,217)
            }
    
            .icon-twitter_icon {
               color: rgb(0,171,240)
            }
            .icon-g {
                color: rgb(235, 81, 79)
            }
            .icon-youtube_icon {
                color: rgb(214,69,48)
            }
        }
    }
}

.slick-slider {
    .slick-next,
    .slick-prev {
        left: 31px;
        top: 30px;
        background-color: white;
        padding: 30px;
        z-index: 10;
        color: black;
        font-size: 0;
        &:hover {
            opacity: 0.8;
            background-color: white;
        }
        &:before {
            content: '<';
            font-family: sans-serif;
            font-size: 30px;
            color: black;
            line-height: 10px;
            margin-left: -10px;
            display: inline-block;
            margin-top: -6px;
        }
    }
    
    .slick-next {
        left: 91px;
        &:before {
            content: '>';
        }
    }
    
    &.up-comming-gallery {
        .slick-prev {
            bottom: 58px;
            top: auto;
            left: 31px;
            &:before {
                content: '<';
            }
        }
        
        .slick-next {
            left: 91px;
            bottom: 58px;
            top: auto;
            &:before {
                content: '>';
            }
        }
    }
    
}



@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}
